{% extends 'base.html' %} {% block title %} Edit post {% endblock %} {% block content_title %}
<h3>Edit post: {{form.title.data}}</h3>
{% endblock %} {% block content %} {% if form %}
<div>
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.title.label(class='control-label') }}<br> {{ form.title(class='form-control') }}<br> {% for error in form.title.errors %}
            <span style="color: red;">[{{ error }}]</span> {% endfor %}
            <br> {{ form.body.label(class='control-label') }}<br> {{ form.body(class='form-control') }}<br> {% for error in form.body.errors %}
            <span style="color: red;">[{{ error }}]</span> {% endfor %} {{ form.tags.label(class='control-label') }}<br> {{ form.tags() }}<br> {% for error in form.tags.errors %}
            <span style="color: red;">[{{ error }}]</span> {% endfor %}
        </div>
        {{ form.submit(class="btn btn-success") }}
    </form>

</div>
{% endif %} {% endblock %}