{% extends "base.html" %} {% block content %}
<h1>Edit Profile</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.username.label(class='control-label') }}<br> {{ form.username(class='form-control')}}<br> {% for error in form.username.errors %}
        <span style="color: red;">[{{ error }}]</span> {% endfor %}<br> {{ form.about_me.label(class='control-label') }}<br> {{ form.about_me(class='form-control') }}<br> {% for error in form.about_me.errors %}
        <span style="color: red;">[{{ error }}]</span> {% endfor %}<br> {{ form.city.label(class='control-label') }}<br> {{ form.city() }}<br> {% for error in form.city.errors %}
        <span style="color: red;">[{{ error }}]</span> {% endfor %}
        <br> {{ form.tags.label(class='control-label') }}<br> {{ form.tags() }}<br> {% for error in form.tags.errors %}
        <span style="color: red;">[{{ error }}]</span> {% endfor %}
        <br> {{ form.submit(class="btn btn-success") }}
</form>
{% endblock %}