{% extends 'base.html' %} {% block title %} User title {% endblock %} {% block content_title %} {% endblock %} {% block content %}
<table>
    <tr>
        <td><img src="{{ url_for('static', filename=user.avatar()) }}" width="60" height="60" alt="avatar" />
        </td>
        <td>
            User: {{ user.username }} <br> City: {{ user.city }}
        </td>
    </tr>
</table>
{% if user.about_me %} About me: {{ user.about_me }} {% endif %}
<br> {% for tag in user.tags %}
<a href="{{ url_for('users.tag_detail', slug=tag.slug) }}">
    <span class="label label-primary">
        {{ tag.name }}
    </span>
</a> {% endfor %}

<hr> {% if user.last_seen %} Last seen on: {{ user.last_seen }} {% endif %} {% if user.username == current_user.username %}
<hr> {% if not current_user.has_role('guest') %}
<p><a href="{{ url_for('users.edit_profile') }}">Edit your profile</a></p>
<p><a href="{{ url_for('security.change_password') }}">Change your password</a></p>
{% endif %} {% endif %} {% endblock %}