{% extends 'base.html' %} 
{% block title %} User title {% endblock %} 
{% block content_title %} {% endblock %} 
{% block content %}
<table>
    <tr>
        <td><img src="{{ url_for('static', filename=user.avatar()) }}" width="60" height="60" alt="avatar" />
        </td>
        <td>
            User: {{ user.username }} <br> City: {{ user.city }}
        </td>
    </tr>
</table>
{% if user.about_me %} About me: {{ user.about_me }} {% endif %}
<br> 

<hr> {% if user.last_seen %} Last seen on: {{ user.last_seen }} {% endif %} 
{% endblock %}