{% extends 'base.html' %} {% block title %} User title {% endblock %} {% block content_title %} {% endblock %} {% block content %}
<img src="{{ url_for('static', filename=user.avatar()) }}" width="60" height="60" alt="avatar" />
<br>Name: {{ user.username }}
<br> City: {{ user.city }} {% if user.about_me %} About me: {{ user.about_me }} {% endif %}
<br> My sportclubs : {% for club in user.clubs %}
<a href="">
        {{ club }}
</a> {% endfor %} {% if not user.clubs %} no clubs <a href="">(join clubs)</a>{% endif %}
<br>I`m a trainer: {% if user.mentor %} Yes {% else %} No <a href="">(become a trainer)</a>{% endif %}
<br>My interests: {% for tag in user.tags %}
<a href="{{ url_for('users.tag_detail', slug=tag.slug) }}">
    <span class="label label-primary">
        {{ tag.name }}: {{ level.description }}
    </span>
</a>{% endfor %}
<hr>
<p>{{ user.followers.count() }} followers ({%for user in user.followers %} <a href="{{ url_for('user', username=user.username) }}">{{user.username}}</a> {% endfor %}),
    <br>{{ user.followed.count() }} following ( {%for user in user.followed %} <a href="{{ url_for('user', username=user.username) }}">{{user.username}}</a> {% endfor %} ).</p>
{% if user.username == current_user.username %}
<p></p>
{% elif not current_user.is_following(user)%}
<p><a href="{{ url_for('users.follow', username=user.username) }}">Be friend</a></p>
{% else %}
<p><a href="{{ url_for('users.unfollow', username=user.username) }}">Unfriend</a></p>
{% endif %}

<hr> {% if user.last_seen %} Last seen on: {{ user.last_seen }} {% endif %} {% if user.username == current_user.username %}
<hr> {% if not current_user.has_role('guest') %}
<p><a href="{{ url_for('users.edit_profile') }}">Edit your profile</a></p>
<p><a href="{{ url_for('security.change_password') }}">Change your password</a></p>
{% endif %} {% endif %} {% endblock %}