{% extends 'base.html' %} {% block title %} Cabinet titles {% endblock %} {% block content_title %}
<h3>Cabinet</h3>
{% endblock %} {% block content %}
<div class="main-content">
    <a href="{{ url_for('user', username=current_user.username) }}">{{ current_user.username }} </a> cabinet:
    <br>User name: {{ cabinet.user_name }}
    <br>User age: {{ cabinet.user_age }}
    <br>User age: {{ cabinet.user_phone }}
    <br>User age: {{ cabinet.user_address }}
    <br>User age: {{ cabinet.title }}
    <br>User age: {{ cabinet.description }}
</div>

<hr> {% if current_user.has_role('admin') or current_user.has_role('user') %}
<br> {% endif %}
</div>
{% endblock %}