{% extends 'base.html' %} {% block title %} Cabinet titles {% endblock %} {% block content_title %}
<h3>Cabinet</h3>
{% endblock %} {% block content %}
<hr> Create cabinet
<div>
    {% if form %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            <br> {{ form.user_firstname.label(class='control-label') }}
            <br> {{ form.user_firstname(class='form-control') }}
            <br> {% for error in form.user_firstname.errors %}
            <span style="color: red;">[{{ error }}]</span> {% endfor %}

            <br> {{ form.user_lastname.label(class='control-label') }}
            <br> {{ form.user_lastname(class='form-control') }}
            <br> {% for error in form.user_lastname.errors %}
            <span style="color: red;">[{{ error }}]</span> {% endfor %}

            <br> {{ form.user_age.label(class='control-label') }}
            <br> {{ form.user_age(class='form-control') }}
            <br> {% for error in form.user_age.errors %}
            <span style="color: red;">[{{ error }}]</span> {% endfor %}

            <br> {{ form.user_phone.label(class='control-label') }}
            <br> {{ form.user_phone(class='form-control') }}
            <br> {% for error in form.user_phone.errors %}
            <span style="color: red;">[{{ error }}]</span> {% endfor %}

            <br> {{ form.user_address.label(class='control-label') }}
            <br> {{ form.user_address(class='form-control') }}
            <br> {% for error in form.user_address.errors %}
            <span style="color: red;">[{{ error }}]</span> {% endfor %}

            <br> {{ form.title.label(class='control-label') }}
            <br> {{ form.title(class='form-control') }}
            <br> {% for error in form.title.errors %}
            <span style="color: red;">[{{ error }}]</span> {% endfor %}

            <br> {{ form.description.label(class='control-label') }}
            <br> {{ form.description(class='form-control') }}
            <br> {% for error in form.description.errors %}
            <span style="color: red;">[{{ error }}]</span> {% endfor %}

            <br> {{ form.sponsor_tier.label(class='control-label') }}
            <br> {{ form.sponsor_tier() }}
            <br> {% for error in form.sponsor_tier.errors %}
            <span style="color: red;">[{{ error }}]</span> {% endfor %}
        </p>
        {% if current_user.has_role('admin') or current_user.has_role('user')%}
        <p>{{ form.submit(class='btn btn-success') }}</p>
        {% endif %}
    </form>
    {% endif %}
</div>

<hr> {% if current_user.has_role('admin') or current_user.has_role('user') %}
<br> {% endif %}
{% endblock %}