{% if security.registerable or security.recoverable or security.confirmable %}
<ul>
    {% if security.recoverable %}
    <li><a href="{{ url_for_security('forgot_password') }}">{{ _('Forgot password') }}</a><br/></li>
    {% endif %} {% if security.confirmable %}
    <li><a href="{{ url_for_security('send_confirmation') }}">{{ _('Confirm account') }}</a></li>
    {% endif %}
    <hr>
    <li><a href="{{ url_for('oauth_authorize', provider='facebook') }}">Login with Facebook</a></li>
    <li><a href="{{ url_for('oauth_authorize', provider='vk') }}">Login with VK</a></li>
    <li><a href="{{ url_for('oauth_authorize', provider='google') }}">Login with Google</a></li>
</ul>
{% endif %}