{% extends 'base.html' %} {% block title %} Photos title {% endblock %} {% block content_title %}
<h3>Photos</h3>
{% endblock %} {% block content %}
<div class="main-content">
    {{ current_user.username }} photos:<br> {% for photo in photos %}
    <a href="{{ url_for('photos.photo_detail', slug=photo.id) }}">
        <img src="{{ url_for('static', filename=photo.slug) }}" width="240" height="240" alt="photo" />
    </a><br> {{photo.photo_title}}
    <div class="tags">
        tags: {% for tag in photo.tags %}
        <a href="{{ url_for('photos.tag_detail', slug=tag.slug) }}">
            <span class="label label-primary">{{ tag.name }}</span></a> {% endfor %}
    </div>
    <hr> {% endfor %}
    <hr> {% if current_user.has_role('admin') or current_user.has_role('user') %}
    <br> Photo uploader<br><br>
    <form id="uload-form" action="{{ url_for('photos.index') }}" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept="image/*" multiple>
        <br>
        <input type="submit" value="Send" class="btn btn-success">
    </form>
    {% endif %}
</div>
{% endblock %}