{% extends 'base.html' %} {% block title %} Notifications titles {% endblock %} {% block content_title %}
<h3><a href="{{ url_for('user', username=current_user.username) }}">{{ current_user.username }} </a> notifications:</h3>
{% endblock %} {% block content %}
<div class="main-content">

    <br> {% for event in event_list %}
    Event title: <a href="{{ url_for('events.event_detail', slug=event.slug) }}">{{ event.event_title }} </a>
    <br> Event time: {{ event.event_time}}
    <br> Event body: {{ event.event_body}}
    <br><br><a href="{{ url_for('notifications.accept' ) }}"><span class="label label-primary">
        accept event</span> </a>
    <br><br><a href="{{ url_for('notifications.refuse' ) }}"><span class="label label-primary">
        refuse event </span></a>
    <hr>
    {% endfor %}
    <br> Soon
    <br> {% for event in soon_event_list %}
    Event title: <a href="{{ url_for('events.event_detail', slug=event.slug) }}">{{ event.event_title }} </a>
    <br> Event time: {{ event.event_time}}
    <br> Event body: {{ event.event_body}}
    <hr>
    {% endfor %}
    {% if not event_list and not soon_event_list %}
    <br><br>There are no more notifications...
    {% endif %}
</div>

<hr> {% if current_user.has_role('admin') or current_user.has_role('user') %}
<br> {% endif %}
</div>
{% endblock %}