{% extends "base.html" %} {% block content %}
<h3>Explore</h3>
<table>
    <tr>
        <td>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Enter city"><br><br>
                    <input type="text" class="form-control" placeholder="Exercise"><br><br>
                    <input type="text" class="form-control" placeholder="Sport club"><br><br>
                    <input type="text" class="form-control" placeholder="Trainer"><br><br>
                    <input type="checkbox" name="free" value="free" checked>Free
                    <input type="checkbox" name="nearby" value="nearby">Nearby<br>
                </div>
                <br><br>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </td>
    </tr>
    <tr>
        <td>
            <hr>
            <a href="{{ url_for('index') }}">Back</a>
        </td>
    </tr>
</table>

{% endblock %}