{% extends "base.html" %} {% block content %}
<h3>Explore</h3>
<table>
    <tr>
        <td>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Enter city">
                </div>
                <br><br>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Date">
                </div>
                <br><br>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Exercise">
                </div>
                <br><br>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Level">
                </div>
                <br><br>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </td>
    </tr>
    <tr>
        <td>
            <hr>
            <a href="{{ url_for('index') }}">Back</a>
        </td>
    </tr>
</table>

{% endblock %}