{% extends 'base.html' %}
{% block title %} Index page title {% endblock %}
{% block content_title %}
<h3>Hi, {{ current_user.username }}!</h3>
{% endblock %}

{% block content %}
<div>
    {% if form %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.f_city.label(class='control-label') }}
            <br> {{ form.f_city(class='form-control') }}
            <br> {% for error in form.f_city.errors %}
            <span style="color: red;">[{{ error }}]</span> {% endfor %}

            <br> {{ form.f_exercise.label(class='control-label') }}
            <br> {{ form.f_exercise(class='form-control') }}
            <br> {% for error in form.f_exercise.errors %}
            <span style="color: red;">[{{ error }}]</span> {% endfor %}

            <br> {{ form.f_levels.label(class='control-label') }}
            <br> {{ form.f_levels(class='form-control') }}
            <br> {% for error in form.f_levels.errors %}
            <span style="color: red;">[{{ error }}]</span> {% endfor %}

            <br> {{ form.f_time.label(class='control-label') }}
            <br> {{ form.f_time() }}
            <br> {% for error in form.f_time.errors %}
            <span style="color: red;">[{{ error }}]</span> {% endfor %}

            <br> {{ form.f_trainers.label(class='control-label') }}
            <br> {{ form.f_trainers(class='form-control') }}
            <br> {% for error in form.f_trainers.errors %}
            <span style="color: red;">[{{ error }}]</span> {% endfor %}

        </p>
        <p>{{ form.submit(class='btn btn-success') }}</p>
    </form>
    {% endif %}
</div>
{% endblock %}